.vendorcard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    border-radius: 20px;
    width: 1003px;
    margin-left: 80px;
}
.owlbody{
    width: 100%;
    height: 600px;
}
.cardheader{
    font-size: 40px;
    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
    text-decoration: underline;
    color: rgb(148, 23, 159); 
}
.innervendorcard{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: aquamarine;
}